@use '@/styles/mixins.scss' as *;

.extra button {
  color: var(--colorTextSecondary);
}
.calendar {
  @apply flex;
  gap: 8px;
}
.day {
  @apply p-1 pb-2 rounded-md cursor-pointer transition-colors duration-200 text-center;
  @include cubic-bezier;
  width: calc(100% / 7);

  &:hover {
    background-color: var(--colorFillTertiary);
  }
  &.current {
    background-color: var(--colorPrimaryBg);
  }
  &.selected {
    background-color: var(--colorFillSecondary);
  }

  .weekday {
    font-size: 12px;
  }
}

.list {
  @apply mt-4;
  min-height: 140px;
  .item {
    .title {
      @apply relative px-4;
      &::before {
        @apply h-2 w-2 rounded-sm absolute left-0 top-1/2 -translate-y-1/2;
        content: "";
        background-color: var(--colorPrimaryText);
      }
    }
  }
}

.empty {
  min-height: 140 - 64 + 16px;
}