@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-v {
  display: flex;
  align-items: center;
}

@mixin flex-center-h {
  display: flex;
  justify-content: center;
}

@mixin flex-baseline {
  display: flex;
  align-items: baseline;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin rounded-left($r) {
  border-top-left-radius: $r;
  border-bottom-left-radius: $r;
}

@mixin rounded-right($r) {
  border-top-right-radius: $r;
  border-bottom-right-radius: $r;
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin cubic-bezier {
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@mixin code-font {
  font-family: 'jetbrains mono', 'fira code', 'source code pro', consolas, monospace;
}